data/uav_dataset/trainset.json filter=lfs diff=lfs merge=lfs -text
data/traj_train/train_balance.json filter=lfs diff=lfs merge=lfs -text
src/model_wrapper/utils/GroundingDINO/groundingdino_swint_ogc.pth filter=lfs diff=lfs merge=lfs -text
